@import url('https://fonts.cdnfonts.com/css/vcr-osd-mono');

/* OBJECTS || */

body {
    background-image: url('./images/space.png');
}

.button { 
    margin-top: 10.5em;
    width: 250px;
    height: 100px;
    font-size: 2em;
    border: 0.2em solid white;
}

.textarea {
  margin: auto;
  font-size: 1.5em;
}

.image {
  margin: auto;
  width: 200px;
  height: 200px;
}

.textbox_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2em;
}

.textbox {
    padding: 1em;
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    color: whitesmoke;
    font-size: 2em;
}

/* UTILITY || */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.space_font {
  font-family: "VCR OSD Mono", sans-serif;
}

.terminal_style {
    background-color: black;
    color: #1abd30;
}

.white_text {
    color: whitesmoke;
}
