@import url("https://fonts.cdnfonts.com/css/vcr-osd-mono");

.nav {
  display: flex;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  background-color: transparent;
}

.nav-btn {
  /* color: black;
  background-color: white; */
  color: #1abd30;
  background-color: black;
  padding: 0.5rem;
  border: 0.1rem solid white;
}

.nav-btn:hover {
  color: black;
  background-color: #1abd30;
}

.nav-btn .svg-icon {
  fill: #1abd30;
}

.nav-btn:hover .svg-icon {
  fill: black;
}

.right-nav {
  width: 14rem;
  display: flex;
  justify-content: space-between;
}

/* CSS */
button {
  /* Reset all default button styles */
  appearance: none;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
  outline: none; /* Remove default focus outline */
  /* Add any additional styling as needed */
}
